* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 1.5rem;
  padding-top: 20px;
}

h3 {
  font-size: 1.1rem;
  padding-top: 5px;
}

#main {
  width: 70%;
  margin: auto;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 150px;
}

.drawers img {
  border-radius: 10px 0 0 10px;
  float: left;
  margin-left: 20px;
  width: 390px;
}

.description {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding-left: 35px;
  padding-right: 35px;
  width: 500px;
  margin-left: -90px;
}

.description p {
  color: hsl(212, 23%, 69%);
  font-size: 0.9rem;
  padding-top: 15px;
}

.grid2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-top: 25px;
}

.michelle {
  border-radius: 50%;
  width: 60px;
}

.appleton {
  margin-left: -100px;
}

.grid2 p {
  color: hsl(212, 23%, 69%);
  padding-top: 5px;
}

.fas {
  padding: 10px 0 0 10px;
}

.attribution {
  margin-top: 20px;
}

@media (max-width:950px) {

  h1 {
    font-size: 1.3rem;
  }

  #main {
    width:70%;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
  }

  .drawers img {
    border-radius: 10px 10px 0 0;
    float: none;
    margin-left: 0;
    max-width: 280px;
    /* width: 100vw; */
  }

  .description {
    border-radius: 0 0 10px 10px;
    margin-left: 0;
    width: 280px;
    margin: auto;
    margin-top: -25px;
    padding: 2% 5%;
  }

  .appleton {
    margin-left: 0;
  }

}
